[Desktop Entry]
Name=GB/GBC
Comment=Game Boy/Color emulator
Icon=gbc
Exec=/usr/games/launchers/gb_launch.sh %f
SelectorBrowser=true
SelectorDir=/mnt/Game Boy
SelectorFilter=gb,GB,gbc,GBC,dmg,DMG,zip,ZIP
Terminal=false
Type=Application
StartupNotify=true
Categories=emulators
