[Desktop Entry]
Name=picoarch
Comment=libretro frontend (picoarch)
Icon=picoarch
Exec=/usr/games/launchers/picoarch_launch.sh %f
SelectorBrowser=true
SelectorDir=/mnt/Libretro
SelectorFilter=so,SO
Terminal=false
Type=Application
StartupNotify=true
Categories=emulators
