[Desktop Entry]
Name=PokeMini
Comment=Pokemon Mini emulator
Icon=pokemini
Exec=/usr/games/launchers/pokemini_launch.sh %f
SelectorBrowser=true
SelectorDir=/mnt/PokeMini
SelectorFilter=min,MIN
Terminal=false
Type=Application
StartupNotify=true
Categories=emulators
