[Desktop Entry]
Name=SNES/SFC
Comment=SNES/SFC emulator
Icon=snes
Exec=/usr/games/launchers/snes_launch.sh %f
SelectorBrowser=true
SelectorDir=/mnt/SNES-SFC
SelectorFilter=sfc,SFC,smc,fig,FIG,SMC,gd3,GD3,gd7,GD7,dx2,DX2,bsx,BSX,swc,SWC,zip,ZIP
Terminal=false
Type=Application
StartupNotify=true
Categories=emulators
