[Desktop Entry]
Name=NES/FC
Comment=NES/FC emulator
Icon=fc
Exec=/usr/games/launchers/nes_launch.sh %f
SelectorBrowser=true
SelectorDir=/mnt/NES-FC
SelectorFilter=nes,NES,fds,FDS,unf,UNF,unif,UNIF,zip,ZIP
Terminal=false
Type=Application
StartupNotify=true
Categories=emulators
