[Desktop Entry]
Name=GBA
Comment=Game Boy Advance emulator
Icon=gba-sp
Exec=/usr/games/launchers/gba_launch.sh %f
SelectorBrowser=true
SelectorDir=/mnt/Game Boy Advance
SelectorFilter=gba,GBA,bin,BIN,zip,ZIP
Terminal=false
Type=Application
StartupNotify=true
Categories=emulators
