[Desktop Entry]
Name=NGP/NGPC
Comment=Neo-Geo Pocket/Color emulator
Icon=ngp
Exec=/usr/games/launchers/ngp_launch.sh %f
SelectorBrowser=true
SelectorDir=/mnt/NGP-NGPC
SelectorFilter=zip,ZIP,ngp,NGP,ngc,NGC,ngpc,NGPC,npc,NPC
Terminal=false
Type=Application
StartupNotify=true
Categories=emulators
