[Desktop Entry]
Name=WonderSwan
Comment=WonderSwan/WonderSwan Color emulator
Icon=wonderswan-color
Exec=/usr/games/launchers/wonderswan_launch.sh %f
SelectorBrowser=true
SelectorDir=/mnt/WonderSwan
SelectorFilter=zip,ZIP,wsc,WSC,ws,WS,pc2,PC2
Terminal=false
Type=Application
StartupNotify=true
Categories=emulators
